<!-- Header -->
<div class="header">
    <div class="top">
        <div class="container clearfix">
            <form action="/2040/index.php"  method="get" class="form-search pull-left">
                <input name="a" type="hidden" value="search">
                <input name="c" type="hidden" value="article">
                <input type="text" name="word" placeholder="请输入关键字..." class="text"><input type="submit" value="搜索" class="spr btn text-hide">
            </form>
            <div class="social pull-right">
                <a href="http://weibo.com/shghgtzy"><span class="spr icon weibo"></span>官方微博</a>
                <a href="#" class="wx"><span class="spr icon weixin"></span>官方微信<img src="__PUBLIC__/images/qr.jpg" alt="" class="qr" style="display:none;"></a>
            </div>
        </div>
    </div>
    <div class="mod container clearfix">
        <div class="hd pull-left">
            <a href="{$GLOBALS['WWW']}" class="logo"><img src="__PUBLIC__/images/logo.jpg" alt="上海总规2040"></a>
            <div class="loading">进行中...</div>
        </div>
        <div class="bd pull-right J-nav">
            <ul class="nav clearfix">
                <li><a href="/2040/" class="pn n0 text-hide">首页</a></li>
                <li><a href="/2040/index.php?c=article&a=type&tid=1" class="pn n1 text-hide">工作动态</a>
                    <ul class="sub">
                        <li><a href="/2040/index.php?c=article&a=type&tid=9" class="sn">工作简讯</a></li>
                        <li><a href="/2040/index.php?c=article&a=type&tid=10" class="sn">新闻报道</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/2040/index.php?c=article&a=type&tid=2" class="pn n2 text-hide">规划普及</a>
                    <ul class="sub">
                        <li><a href="/2040/index.php?c=article&a=type&tid=18" class="sn">他山之石</a></li>
                        <li><a href="/2040/index.php?c=article&a=type&tid=19" class="sn">规划百题</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/2040/index.php?c=article&a=type&tid=3" class="pn n3 text-hide">对外发布</a>
                    <ul class="sub">
                        <li><a href="/2040/index.php?c=article&a=type&tid=8" class="sn">活动发布</a></li>
                        <li><a href="/2040/index.php?c=article&a=type&tid=24" class="sn">规划展示</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/2040/index.php?c=article&a=type&tid=4" class="pn n4 text-hide">公众参与</a>
                    <ul class="sub">
                        <li><a href="/2040/index.php?c=message&a=type&tid=6" class="sn">调查问卷</a></li>
                        <li><a href="/2040/index.php?c=article&a=type&tid=7" class="sn">意见反馈</a></li>
                        <li><a href="/2040/index.php?c=article&a=type&tid=28" class="sn">百家之言</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- /Header -->