<!DOCTYPE html>
<html dir="ltr" lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{$article['title']}</title>
    <meta name="keywords" content="{$article['keywords']}">
    <meta name="description" content="{$article['description']}">
    <link href="{$GLOBALS['WWW']}favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="{$GLOBALS['skin']}css/style.css" type="text/css"/>
    <script type="text/javascript">
    var site_dir="{$GLOBALS['WWW']}";
    </script>
    <script type="text/javascript" src="{$GLOBALS['skin']}js/jquery.min.js"></script>
    <script src="{$GLOBALS['skin']}Scripts/swfobject_modified.js" type="text/javascript"></script>
    <script src="{$GLOBALS['skin']}js/jquery.SuperSlide.js"></script>
    <script type="text/javascript" src="{$GLOBALS['skin']}js/js.js"></script>
</head>

<body class="outer-inner-page bg_slash1 outer">
    {include="head.html"}
    <div class="mainouter">
        <div class="outer-main center clearfix">
            <div class="tab_sider">
                <ul class="tab_sider_wrap">
                    {loop table="classtype" pid="$type["tid"]" mshow="1" not="1" as="t"}
                    <li{if($type['tid']==$t['tid'])} class="on"{/if}><a href="{$t['url']}"><span class="tab_sider_arrow">&gt;</span>{$t['classname']}</a></li>
                    {/loop}
                </ul>
            </div>
            <div class="outer-page-content outer-about-leaderpage">
                <div class="outer-page-leaderpage clearfix">
                    <div class="article2">
                        <div class="title">{$article['title']}</div>
                        <div class="info">
                            <div class="in">
                                <img src="{$GLOBALS['skin']}images/infospot.gif">
                                <span>来源：{$article['source']}</span>
                                <img class="ml15" src="{$GLOBALS['skin']}images/infospot.gif">
                                <span>{fun date('Y-m-d H:i:s',$article['addtime'])}</span>
                                <img class="ml15" src="{$GLOBALS['skin']}images/infospot.gif">
                                <span>点击：<script src="{$GLOBALS['WWW']}index.php?c=article&a=hits&id={$article['id']}" type="text/javascript"></script></span>
                                <img src="{$GLOBALS['skin']}images/infospot.gif">
                            </div>
                        </div>
                        <div class="content">
                            {$article['body']}
                        </div>
                        <div class="other">
                            {if($aprev)}
                            <div class="next mt15">上一篇：<a href="{$aprev['url']}">{$aprev['title']}</a></div>
                            {/if}
                            {if($anext)}
                            <div class="next mt10">下一篇：<a href="{$anext['url']}">{$anext['title']}</a></div>
                            {/if}
                            <div class="back"><a href="{$back}">返回</a></div>
                        </div>
                    </div>
                    {include="right.html"}
                </div>
                <div class="outer-b2top clearfix" id="b2top">
                    <div class="b2top_btn" id="b2top_btn"><a href="{$GLOBALS['WWW']}">返回顶部</a></div>
                </div>
            </div>
        </div><!--center end-->
    </div><!--main end-->
    {include="bottom.html"}
</body>
</html>