<!DOCTYPE html>
<html dir="ltr" lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{$type['title']}-{$GLOBALS['S']['title']}</title>
    <meta name="keywords" content="{$type['keywords']}">
    <meta name="description" content="{$type['description']}">
    <link href="{$GLOBALS['WWW']}favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="{$GLOBALS['skin']}css/style.css" type="text/css">
    <script type="text/javascript">
    var site_dir="{$GLOBALS['WWW']}";
    </script>
    <!-- <script type="text/javascript" src="{$GLOBALS['skin']}js/jquery.min.js"></script> -->
    <script src="{$GLOBALS['skin']}Scripts/swfobject_modified.js" type="text/javascript"></script>
    <script src="{$GLOBALS['skin']}js/jquery.SuperSlide.js"></script>
    <script type="text/javascript" src="{$GLOBALS['skin']}js/js.js"></script>
</head>
<body class="outer-inner-page bg_slash1 outer">
    {include="head.html"}
    <div class="mainouter">
        <div class="outer-main center clearfix">
            <div class="tab_sider">
                <ul class="tab_sider_wrap">
                    {loop table="classtype" pid="$type["tid"]" mshow="1" not="1" as="t"}
                    <li{if($type['tid']==$t['tid'])} class="on"{/if}><a href="{$t['url']}"><span class="tab_sider_arrow">&gt;</span>{$t['classname']}</a></li>
                    {/loop}
                </ul>
            </div>
            <div class="outer-page-content outer-about-leaderpage">
                <div class="outer-page-leaderpage clearfix">
                    <div class="listmain2">
                        <ul>
                            {foreach $lists as $k => $v}
                            <li{if (($k+1)%2 ==0)} class="double"{/if}>
                                <a href="{$v['url']}" style="{$v['style']}">
                                    <span class="time">来源：{$v['source']}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日期：{fun date('Y/m/d',$v['addtime'])}</span>
                                    <span>{$v['title']}</span>
                                    <!--{if ($v['hits']>99)}--><span class="hot"></span><!--{/if}-->
                                    <!--{if(newest($v['addtime'],24))}--><span class="new"></span><!--{/if}-->
                                </a>
                            </li>
                            {/foreach}                           
                        </ul>
                        <div class="pagelist">
                            <ul>
                                {$pages}
                            </ul>
                        </div>
                    </div><!--listmain end-->
                    {include="right.html"}
                </div>
                <div class="outer-b2top clearfix" id="b2top">
                    <div class="b2top_btn" id="b2top_btn"><a href="{$GLOBALS['WWW']}">返回顶部</a></div>
                </div>
            </div>
        </div><!--center end-->
    </div><!--main end-->
    {include="bottom.html"}
</body>
</html>