<!-- Footer -->
<div class="footer container">
    <div class="nav-footer pull-left">
        <a href="#">关于我们</a> | <a href="#">法律条款</a>
    </div>
    <div class="pull-right">
        <p>Copyright © 2014-2017 版权所有 <script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F39feb6fb33903136519047e26ddee153' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript" src="http://tajs.qq.com/stats?sId=58040217" charset="UTF-8"></script></p>
    </div>
</div>