<!DOCTYPE html>
<!--[if IE 6]><html class="ie6 lte9 lte7 lte8"><![endif]-->
<!--[if IE 8]><html class="ie8 lte9 lte8"><![endif]-->
<!--[if IE 9]><html class="ie9 lte9"><![endif]-->
<!--[if IE 7]><html class="ie7 lte9 lte7 lte8"><![endif]-->
<!--[if !(IE 6) | !(IE 7) | !(IE 8) | !(IE 9)  ]><!--><html><!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{$GLOBALS['S']['title']}</title>
    <meta name="keywords" content="{$GLOBALS['S']['keywords']} ">
    <meta name="description" content="{$GLOBALS['S']['description']} ">
    <link rel="shortcut icon" href="{$GLOBALS['WWW']}public/images/favicon.ico">
    <link rel="stylesheet" href="{$GLOBALS['WWW']}public/css/reset.css">
    <link rel="stylesheet" href="{$GLOBALS['WWW']}public/css/style.css">
    <link rel="stylesheet" href="{$GLOBALS['WWW']}public/css/ThinkBox.css">
    <script type="text/javascript" src="{$GLOBALS['WWW']}public/js/jquery.min.js"></script>
    <!--[if lt IE 9]>
        <script src="{$GLOBALS['WWW']}public/js/html5.js"></script>
    <![endif]-->
    <!--[if IE 6]>
        <script src="{$GLOBALS['WWW']}public/js/DD_belatedPNG_0.0.8a-min.js"></script>
        <script>DD_belatedPNG.fix(".pngfix,.spr");</script>
    <![endif]-->
    <style>
        .ke-container { float: left !important; }
    </style>
</head>
<body>
    {include="head.html"}
    <!-- Slide -->
    <div class="slide J-slide">
        <div class="bd">
            <ul>
                <li style="background:url({$GLOBALS['WWW']}public/images/slide/banner2035.jpg) no-repeat center top"><a href="/2035/index.php?c=message&a=type&tid=33"></a></li>
                <li style="background:url({$GLOBALS['WWW']}public/images/slide/banner05.jpg) no-repeat center top"><a href="/2035/index.php?c=message&a=type&tid=32"></a></li>
                <li style="background:url({$GLOBALS['WWW']}public/images/slide/banner20160930.jpg) no-repeat center top"><a href="/2035/index.php?c=article&id=262"></a></li>
                <li style="background:url({$GLOBALS['WWW']}public/images/slide/banner.jpg) no-repeat center top"><a href="/2035/index.php?c=message&a=type&tid=31"></a></li>
                <li style="background:url({$GLOBALS['WWW']}public/images/slide/banner02.jpg) no-repeat center top"><a href="/2035/index.php?c=message&a=type&tid=30"></a></li>
<!--                 <li style="background:url({$GLOBALS['WWW']}public/images/slide/banner01.jpg) no-repeat center top"><a href="/2035/question/index.php/Home/Index/detail/id/3.html"></a></li>
                <li style="background:url({$GLOBALS['WWW']}public/images/slide/banner02.jpg) no-repeat center top"><a href="/2035/index.php?c=article&id=124"></a></li> -->
                <li style="background:url({$GLOBALS['WWW']}public/images/slide/8.jpg) no-repeat center top"><a href="/2035/index.php?c=article&id=63"></a></li>
                <li style="background:url({$GLOBALS['WWW']}public/images/slide/1.jpg) no-repeat center top"><a></a></li>
                <li style="background:url({$GLOBALS['WWW']}public/images/slide/2.jpg) no-repeat center top"><a></a></li>
                <li style="background:url({$GLOBALS['WWW']}public/images/slide/3.jpg) no-repeat center top"><a></a></li>
<!--                 <li style="background:url({$GLOBALS['WWW']}public/images/slide/4.jpg) no-repeat center top"><a></a></li>
                <li style="background:url({$GLOBALS['WWW']}public/images/slide/5.jpg) no-repeat center top"><a></a></li>
                <li style="background:url({$GLOBALS['WWW']}public/images/slide/6.jpg) no-repeat center top"><a></a></li> -->
            </ul>
        </div>
        <div class="hd">
            <ul></ul>
        </div>
    </div>

    <!-- Main -->
    <div class="page-home clearfix">
        <div class="container">
            <div class="main ">
                <div class="box box-timeline J-timeline">
                    <div class="box-dark">
                        <div class="mod">
                            <div class="mod-hd">
                                <ul class="hd clearfix">
                                    <li class="pointer on">
                                        <p><span class="spr">过去</span></p>
                                        <em class="spr"></em>
                                    </li>
                                    <li class="pointer">
                                        <p><span class="spr">现在</span></p>
                                        <em class="spr"></em>
                                    </li>
                                    <li class="pointer">
                                        <p><span class="spr">未来</span></p>
                                        <em class="spr"></em>
                                    </li>
                                </ul>
                            </div>
                            <div class="mod-bd J-mod-bd">
                                <div class="ulwrap">
                                    <ul class="bd">
                                        {loop table="channel" molds="oper" tid="25" orderby="orders|desc,addtime" limit="5"} 
                                        <li>
                                            <a href="{$v['url']}">
                                                <span class="img"><img src="{fun getimg($v['picture'],'132x192',2)}" alt=""></span>
                                                <p><span class="text">{$v['intro']}</span></p>
                                            </a>
                                        </li>
                                        {/loop}
                                    </ul>
                                    <ul class="hd" style="display:none;"></ul>
                                </div>
                                <div class="ulwrap">
                                    <ul class="bd">
                                        {loop table="channel" molds="oper" tid="26" orderby="orders|desc,addtime" limit="1000"} 
                                        <li>
                                            <a href="{$v['url']}">
                                                <span class="img"><img src="{fun getimg($v['picture'],'132x192',2)}" alt=""></span>
                                                <p><span class="text">{$v['intro']}</span></p>
                                            </a>
                                        </li>
                                        {/loop}
                                    </ul>
                                    <ul class="hd"></ul>
                                </div>
                                <div class="ulwrap">
                                    <ul class="bd">
                                        {loop table="channel" molds="oper" tid="27" orderby="orders|desc,addtime" limit="1000"} 
                                        <li>
                                            <a href="{$v['url']}">
                                                <span class="img"><img src="{fun getimg($v['picture'],'132x192',2)}" alt=""></span>
                                                <p><span class="text">{$v['intro']}</span></p>
                                            </a>
                                        </li>
                                        {/loop}
                                    </ul>
                                    <ul class="hd"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="box-news J-news">
                    <div class="box-hd">
                        <div class="hd">
                            <h3 class="text-hide pngfix">热点动态</h3>
                            <ul class="nav-news">
                                <li class="on"><a href="javascript:void(0);">全部</a></li>
                                {loop table="classtype" mshow="1"}
                                {loop table="classtype" pid="$v['tid']" as="v1" mshow="1"}
                                {if($v1['tid'] != 6)}
                                <li><a href="{$v1['url']}">{$v1['classname']}</a></li>
                                {/if}
                                {/loop}
                                {/loop}
                            </ul>
                        </div>
                    </div>
                    <div class="box-bd J-news-bd">
                        <div class="ulwrap">
                            <ul class="bd">
                                {loop table="article" limit="9"}<li>
                                    <div class="box-x">
                                        <span class="spr bar"></span>
                                        <div class="mod">
                                            <div class="mod-hd">
                                                <h3>{fun typename($v['tid'])}</h3>
                                                <h4><a href="{$v['url']}">{fun newstr($v['title'],45)}</a></h4>
                                            </div>
                                            <div class="mod-bd">
                                                {fun newstr($v['description'],100)}
                                            </div>
                                            <div class="mod-ft">
                                                <p><span class="spr icon-date"></span>{fun date('Y年m月d日',$v['addtime'])}</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>{/loop}
                            </ul>
                            <div class="mod-pager spr">
                                <a href="javascript:void(0);" class="sprev"></a>
                                <a href="javascript:void(0);" class="snext"></a>
                            </div>
                        </div>
                        <div class="ulwrap">
                            <ul class="bd">
                                {loop table="article" tid="9" limit="9"}<li>
                                    <div class="box-x">
                                        <span class="spr bar"></span>
                                        <div class="mod">
                                            <div class="mod-hd">
                                                <h3>{fun typename($v['tid'])}</h3>
                                                <h4><a href="{$v['url']}">{fun newstr($v['title'],45)}</a></h4>
                                            </div>
                                            <div class="mod-bd">
                                                {fun newstr($v['description'],100)}
                                            </div>
                                            <div class="mod-ft">
                                                <p><span class="spr icon-date"></span>{fun date('Y年m月d日',$v['addtime'])}</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>{/loop}
                            </ul>
                            <div class="mod-pager spr">
                                <a href="javascript:void(0);" class="sprev"></a>
                                <a href="javascript:void(0);" class="snext"></a>
                            </div>
                        </div>
                        <div class="ulwrap">
                            <ul class="bd">
                                {loop table="article" tid="10" limit="9"} 
                                <li>
                                    <div class="box-x">
                                        <span class="spr bar"></span>
                                        <div class="mod">
                                            <div class="mod-hd">
                                                <h3>{fun typename($v['tid'])}</h3>
                                                <h4><a href="{$v['url']}">{fun newstr($v['title'],45)}</a></h4>
                                            </div>
                                            <div class="mod-bd">
                                                {fun newstr($v['description'],100)}
                                            </div>
                                            <div class="mod-ft">
                                                <p><span class="spr icon-date"></span>{fun date('Y年m月d日',$v['addtime'])}</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                {/loop}
                            </ul>
                            <div class="mod-pager spr">
                                <a href="javascript:void(0);" class="sprev"></a>
                                <a href="javascript:void(0);" class="snext"></a>
                            </div>
                        </div>
                        <div class="ulwrap">
                            <ul class="bd">
                                {loop table="article" tid="18" limit="9"}<li>
                                    <div class="box-x">
                                        <span class="spr bar"></span>
                                        <div class="mod">
                                            <div class="mod-hd">
                                                <h3>{fun typename($v['tid'])}</h3>
                                                <h4><a href="{$v['url']}">{fun newstr($v['title'],45)}</a></h4>
                                            </div>
                                            <div class="mod-bd">
                                                {fun newstr($v['description'],100)}
                                            </div>
                                            <div class="mod-ft">
                                                <p><span class="spr icon-date"></span>{fun date('Y年m月d日',$v['addtime'])}</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>{/loop}
                            </ul>
                            <div class="mod-pager spr">
                                <a href="javascript:void(0);" class="sprev"></a>
                                <a href="javascript:void(0);" class="snext"></a>
                            </div>
                        </div>
                        <div class="ulwrap">
                            <ul class="bd">
                                {loop table="article" tid="19" limit="9"}<li>
                                    <div class="box-x">
                                        <span class="spr bar"></span>
                                        <div class="mod">
                                            <div class="mod-hd">
                                                <h3>{fun typename($v['tid'])}</h3>
                                                <h4><a href="{$v['url']}">{fun newstr($v['title'],45)}</a></h4>
                                            </div>
                                            <div class="mod-bd">
                                                {fun newstr($v['description'],100)}
                                            </div>
                                            <div class="mod-ft">
                                                <p><span class="spr icon-date"></span>{fun date('Y年m月d日',$v['addtime'])}</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>{/loop}
                            </ul>
                            <div class="mod-pager spr">
                                <a href="javascript:void(0);" class="sprev"></a>
                                <a href="javascript:void(0);" class="snext"></a>
                            </div>
                        </div>
                        <div class="ulwrap">
                            <ul class="bd">
                                {loop table="article" tid="8" limit="9"}<li>
                                    <div class="box-x">
                                        <span class="spr bar"></span>
                                        <div class="mod">
                                            <div class="mod-hd">
                                                <h3>{fun typename($v['tid'])}</h3>
                                                <h4><a href="{$v['url']}">{fun newstr($v['title'],45)}</a></h4>
                                            </div>
                                            <div class="mod-bd">
                                                {fun newstr($v['description'],100)}
                                            </div>
                                            <div class="mod-ft">
                                                <p><span class="spr icon-date"></span>{fun date('Y年m月d日',$v['addtime'])}</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>{/loop}
                            </ul>
                            <div class="mod-pager spr">
                                <a href="javascript:void(0);" class="sprev"></a>
                                <a href="javascript:void(0);" class="snext"></a>
                            </div>
                        </div>
                        <div class="ulwrap">
                            <ul class="bd">
                                {loop table="article" tid="24" limit="9"}<li>
                                    <div class="box-x">
                                        <span class="spr bar"></span>
                                        <div class="mod">
                                            <div class="mod-hd">
                                                <h3>{fun typename($v['tid'])}</h3>
                                                <h4><a href="{$v['url']}">{fun newstr($v['title'],45)}</a></h4>
                                            </div>
                                            <div class="mod-bd">
                                                {fun newstr($v['description'],100)}
                                            </div>
                                            <div class="mod-ft">
                                                <p><span class="spr icon-date"></span>{fun date('Y年m月d日',$v['addtime'])}</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>{/loop}
                            </ul>
                            <div class="mod-pager spr">
                                <a href="javascript:void(0);" class="sprev"></a>
                                <a href="javascript:void(0);" class="snext"></a>
                            </div>
                        </div>
                        <div class="ulwrap">
                            <ul class="bd">
                                {loop table="article" tid="7" isshow="1" reply="1" limit="10"}<li>
                                    <div class="box-x">
                                        <span class="spr bar"></span>
                                        <div class="mod">
                                            <div class="mod-hd">
                                                <h3>{fun typename($v['tid'])}</h3>
                                                <h4><a href="{$v['url']}">{fun newstr($v['title'],45)}</a></h4>
                                            </div>
                                            <div class="mod-bd">
                                                {fun newstr($v['description'],100)}
                                            </div>
                                            <div class="mod-ft">
                                                <p><span class="spr icon-date"></span>{fun date('Y年m月d日',$v['addtime'])}</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>{/loop}
                            </ul>
                            <div class="mod-pager spr">
                                <a href="javascript:void(0);" class="sprev"></a>
                                <a href="javascript:void(0);" class="snext"></a>
                            </div>
                        </div>
                        <div class="ulwrap">
                            <ul class="bd">
                                {loop table="article" tid="28" limit="9"}<li>
                                    <div class="box-x">
                                        <span class="spr bar"></span>
                                        <div class="mod">
                                            <div class="mod-hd">
                                                <h3>{fun typename($v['tid'])}</h3>
                                                <h4><a href="{$v['url']}">{fun newstr($v['title'],45)}</a></h4>
                                            </div>
                                            <div class="mod-bd">
                                                {fun newstr($v['description'],100)}
                                            </div>
                                            <div class="mod-ft">
                                                <p><span class="spr icon-date"></span>{fun date('Y年m月d日',$v['addtime'])}</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>{/loop}
                            </ul>
                            <div class="mod-pager spr">
                                <a href="javascript:void(0);" class="sprev"></a>
                                <a href="javascript:void(0);" class="snext"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="aside">
                <div class="box-imgs">
                    <a href="#" class="J-wys" data-title="我要说">
                        <img src="{$GLOBALS['WWW']}public/images/wys.jpg" alt=""></a>
                    <a href="/2035/index.php?c=message&a=type&tid=30" class="J-wyx" data-title="我要写">
                        <img src="{$GLOBALS['WWW']}public/images/wyx.jpg" alt=""></a>
                    <a href="#" class="J-wyh" data-title="我要画">
                        <img src="{$GLOBALS['WWW']}public/images/wyh.jpg" alt=""></a>
                </div>
                <div class="box">
                    <div class="box-activity box-aside box-dark">
                        <div class="box-hd">
                            <h3 class="title">联系我们</h3>
                        </div>
                        <div class="box-bd">
                            <p class="contact">您可以通过以下方式对上海城市总体规<br>
                                划提出建议<br>
                                官方邮箱：<br>
                                shzgbz2035@163.com
                            </p>
                            <hr>
                            <div class="mod-wx">
                                <div class="mod-hd">官方微信<br>上海总规2035</div>
                                <div class="mod-bd"><img src="{$GLOBALS['WWW']}public/images/qr.jpg" alt="" width="102" height="100"></div>
                            </div>
                            <hr>
                            <div class="mod-channel">
                                <div class="mod-hd">其他渠道</div>
                                <div class="mod-bd">
                                    <a href="http://weibo.com/shghgtzy"><img src="{$GLOBALS['WWW']}public/images/iweibo.png" alt="" class="pngfix"></a>
                                    <a href="index.php?c=article&a=rss"><img src="{$GLOBALS['WWW']}public/images/irss.png" alt="" class="pngfix"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {include="foot.html"}

    <!-- Common JS -->
    <script src="{$GLOBALS['WWW']}public/js/jquery.SuperSlide.2.1.1.js"></script>
    <script src="{$GLOBALS['WWW']}public/js/jquery.ThinkBox.js"></script>
    <script src="{$GLOBALS['WWW']}public/js/common.js"></script>
    <script src="{$GLOBALS['WWW']}include/js/DatePicker/WdatePicker.js" type="text/javascript"></script>
    <script charset="utf-8" src="{$GLOBALS['WWW']}include/js/kindeditor/kindeditor-min.js"></script>
    <script charset="utf-8" src="{$GLOBALS['WWW']}include/js/kindeditor/lang/zh_CN.js"></script>
    <script src="{$GLOBALS['WWW']}include/js/dyfrom.js" type="text/javascript"></script>
    <script>
    jQuery(document).ready(function($) {
        jQuery(".J-slide").slide({mainCell:".bd ul",titCell:".hd ul",effect:"fold",autoPage:true,autoPlay:true});
        jQuery(".J-timeline").slide({mainCell:".mod-bd",titCell:".hd li",effect:"left"});
        jQuery(".J-mod-bd .ulwrap").slide({mainCell:".bd",titCell:".hd",effect:"left",vis:5,scroll:5,autoPage:true,autoPlay: true});
        jQuery(".J-news").slide({mainCell:".box-bd",titCell:".hd li",effect:"fold"});
        jQuery(".J-news-bd .ulwrap").slide({mainCell:".bd",effect:"leftLoop",vis:3,scroll:3,autoPage:true,prevCell:".sprev",nextCell:".snext"});

        // $('.J-wys,.J-wyh').on('click', function(e) {
        //     e.preventDefault();
        //     var title = $(this).data('title');
        //     var html = '<p>通过邮件发送材料（邮箱地址：shzgbz2035@163.com）。</p><div class="mod-ft"><a href="#" class="btn btn-save">确 定</a></div>';
        //     var box = $.ThinkBox(html, {
        //         'title': title,
        //         'center': true,
        //         'close': '',
        //         'modal': true,
        //         'modalClose': true,
        //         'drag': true,
        //         'width': 468,
        //         'fixed': true,
        //         'afterShow': function() {
        //             $('.ThinkBox-content').on('click', '.btn-save', function(e) {
        //                 e.preventDefault();
        //                 box.hide();
        //             });
        //         },
        //         'afterHide': function() {
        //             $('.ThinkBox-wrapper').remove();
        //         }
        //     });
        // });

        // $('.J-wyx').on('click', function(e) {
        //     e.preventDefault();
        //     var title = $(this).data('title');
        //     var html = '<form class="message" action="{$GLOBALS["WWW"]}index.php?c=message&a=add&tid=7" method="post" onsubmit="return postform();">' +
        //                 '<div class="mod-body">' + 
        //                     '<div class="form-group">' +
        //                         '<label for="">主题</label>' +
        //                         '<input type="text" name="title" id="title">' +
        //                     '</div>' +
        //                     '<div class="form-group">' +
        //                         '<label for="">姓名</label>' +
        //                         '<input type="text" name="name" id="name">' +
        //                     '</div>' +
        //                     '<div class="form-group clearfix">' +
        //                         '<label for="" class="pull-left">内容</label>' +
        //                         '<textarea name="body" id="body" style="float:left; width:370px; height:300px; padding: 0;"></textarea>' +
        //                     '</div>' +
        //                     '<div class="form-group">' +
        //                         '<label for="">验证</label>' +
        //                         '<input type="text" name="vercode" id="vercode" class="v"/>' +
        //                         '<img src="{$GLOBALS['WWW']}include/vercode.php" id="vercodeimg"" alt="" height="30" style="padding-left:10px;">' +
        //                     '</div>' +
        //                     '<scr' + 'ipt type="text/javas' + 'cript">' +
                                
        //                     '</scr' + 'ipt>' +
        //                 '</div>' +
        //                 '<div class="mod-ft">' +
        //                     '<a href="#" class="btn btn-save">确 定</a>' +
        //                 '</div>' +
        //                 '</form>';
        //     var box = $.ThinkBox(html, {
        //         'title': title,
        //         'center': true,
        //         'close': '',
        //         'modal': true,
        //         'modalClose': true,
        //         'drag': true,
        //         'width': 468,
        //         'fixed': true,
        //         'afterShow': function() {
        //             $(function(){
        //                 // KindEditor.create("#body",{resizeType : 1,allowPreviewEmoticons : false,allowImageUpload : false,items : ["fontname", "fontsize", "|", "forecolor", "hilitecolor", "bold", "italic", "underline","removeformat", "|", "justifyleft", "justifycenter", "justifyright", "insertorderedlist","insertunorderedlist", "|", "emoticons", "image", "link"]});
        //                 $('.ThinkBox-content').on('click', '.btn-save', function(e) {
        //                     e.preventDefault();
        //                     // KindEditor.sync('#body');
        //                     $('form.message').submit();
        //                     // box.hide();
        //                 });
        //                 setTimeout("newvercode()",500);
        //             });
                    
        //         },
        //         'afterHide': function() {
        //             $('.ThinkBox-wrapper').remove();
        //         }
        //     });
        // });
    });
    function postform(){
        value=$("#title").val();
        if(!dyfrom_max(value, 100)){
            alert('标题不能大于100个字符');return false;
        }
        value=$("#body").val();
        if(!dyfrom_max(value, 10000)){
            alert('内容不能大于10000个字符');return false;
        }
        value=$("#name").val();
        if(!dyfrom_null(value)){
            alert('请输入姓名！');return false;
        }
    {if($GLOBALS['G_DY']['vercode']==1)}
        value=$("#vercode").val();
        if(dyfrom_ajax("{$GLOBALS['WWW']}index.php?c=ajax&a=vercode","vercode="+value)=='false'){
            alert('验证码输入错误');
            return false;
        }
    {/if}
        return true;
    }

    
    function newvercode(){
        document.getElementById("vercodeimg").src="{$GLOBALS["WWW"]}include/vercode.php?a="+Math.random();
    }
    </script>
</body>
</html>

