<!DOCTYPE html>
<!--[if IE 6]><html class="ie6 lte9 lte7 lte8"><![endif]-->
<!--[if IE 8]><html class="ie8 lte9 lte8"><![endif]-->
<!--[if IE 9]><html class="ie9 lte9"><![endif]-->
<!--[if IE 7]><html class="ie7 lte9 lte7 lte8"><![endif]-->
<!--[if !(IE 6) | !(IE 7) | !(IE 8) | !(IE 9)  ]><!--><html><!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{$channel['title']}</title>
    <meta name="keywords" content="{$channel['keywords']}">
    <meta name="description" content="{$channel['description']}">
    <link rel="shortcut icon" href="{$GLOBALS['WWW']}public/images/favicon.ico"/>
    <link rel="stylesheet" href="{$GLOBALS['WWW']}public/css/reset.css">
    <link rel="stylesheet" href="{$GLOBALS['WWW']}public/css/style.css">
    <script type="text/javascript" src="{$GLOBALS['WWW']}public/js/jquery.min.js"></script>
    <!--[if lt IE 9]>
        <script src="{$GLOBALS['WWW']}public/js/html5.js"></script>
    <![endif]-->
    <!--[if IE 6]>
        <script src="{$GLOBALS['WWW']}public/js/DD_belatedPNG_0.0.8a-min.js"></script>
        <script>DD_belatedPNG.fix(".pngfix,.spr");</script>
    <![endif]-->
</head>
<body>
    {include="head.html"}
    <div class="banner container">
        <img src="{$GLOBALS['WWW']}public/images/banner.jpg" alt="">
    </div>
    <style>
        .MsoNormalTable th {
            color: #009999;
            background: #ebf9f9;
        }
        .MsoNormalTable td {
            color: #454545;
        }
        .MsoNormalTable td,
        .MsoNormalTable th {
            border: #bdbfbf solid 1px !important;
        }
    </style>

    <!-- Main -->
    <div class="page-full container clearfix">
        <div class="main">
            <div class="mod-box article">
                <div class="mod-hd">
                    <h2>{$type['classname']}</h2>
                    <div class="breadcrumb">
                        {$positions}
                    </div>
                </div>
                <div class="mod-bd">

                    <div class="mod-article-hd">
                        <h2><img src="{$channel['titlepic']}"></h2>
                        <div class="info"><p></p></div>
                    </div>

                    <div class="mod-article-teaser box-dark">
                        <p>{$channel['introduce']}</p>
                    </div>

                    <div class="mod-article-bd">
                        {$channel['body']}
                    </div>
                </div>
                <div class="mod-article-ft">
                    <div class="mod-article-func">
                        {if($aprev)}<a href="{$aprev['url']}">上一篇：{$aprev['title']}</a>{/if}
                        {if($anext)}<a href="{$anext['url']}">下一篇：{$anext['title']}</a>{/if}
                        <a href="{$back}" class="back">返回</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {include="foot.html"}
    <script src="{$GLOBALS['WWW']}public/js/jquery.SuperSlide.2.1.1.js"></script>
    <script src="{$GLOBALS['WWW']}public/js/common.js"></script>
</body>
</html>